
       *, *::before, *::after {
            box-sizing: border-box;
        }
        body {
            overflow-x: hidden;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }
        .content-wrapper {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        .all {
            display:block;
            flex-direction: row;
            margin: 15px;
            margin-top: 73px;
        }
        .topbar {
            position: fixed !important;
            width: 100%;
            max-width: 15000px;
            background-color: #585858aa;
            padding: 5px;
            margin: auto;
            margin-top: 0px;
            border-radius: 0px;
            border-style: solid;
            border-color: #444444aa;
            border-width: 1px;
        }
        .links {
            width: 100%;
            margin-right: 10px;
            margin-top: 10px;
            background-color: #585858aa;
            height: auto;
            border-radius: 10px;
            text-align: center;
        }
        .middlebar {
            max-width: 15000px;
            width: 100%;
            margin: 0 auto;
            padding: 10px;
            background-color: #444444aa;
            border-radius: 10px;
            border-style: solid;
            border-color: #444444aa;
            border-width: 1px;
            text-align: center;
            height: 1000px;
        }
        .inmiddlebar {
            max-width: 1660px;
            width: 100%;
            margin: 0 auto;
            padding: 10px;
            background-color: #44444455;
            border-style: solid;
            border-color: #444444aa;
            border-width: 1px;
            border-radius: 10px;
        }
        .blogpost {
            max-width: 1660px;
            width: 100%;
            margin: 10px auto 0 auto;
            padding: 10px;
            background-color: #44444455;
            border-style: solid;
            border-color: #444444aa;
            border-radius: 10px;
            border-width: 1px;
            height:70%;
        }
        .post {
            max-width: 820px;
            width: 100%;
            margin: 10px auto 0 auto;
            padding: 10px;
            background-color: #44444455;
            border-style: solid;
            border-color: #444444aa;
            border-width: 1px;
            border-radius: 10px;
            height: auto;
            text-align: left;
        }
        a {
            color: #ff2323;
            text-decoration: none;
        }
        a:hover {
            color: #4b4b4b;
            text-decoration: none;
            cursor: pointer;
        }
        .site-footer {
            padding: 24px 0;
            border-top: 1px solid rgba(255, 49, 49, 0.726);
            text-align: center;
            color: #dfdfdf;
        }
        .github-topright {
            position: fixed !important;
            top: 25px;
            right: 30px;
            z-index: 9999 !important;
        }
        #myVideo {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100vw;
            min-height: 100vh;
            width: 100vw;
            height: 100vh;
            object-fit: cover;
            z-index: 0;
            pointer-events: none;
            filter: blur(20px);
        }
        .video-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: rgba(0,0,0,0.5);
            z-index: 1;
            pointer-events: none;
        }
        body > *:not(#myVideo):not(.video-overlay) {
            position: relative;
            z-index: 2;
        }
        .sidebar-links {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: fixed !important;;
            z-index: 9999 !important;
            top: 25px;
            left: 30px;
        }